<div class="icons">
  <a href="https://github.com/respects-in-durka" target="_blank" title="github"><img src="/assets/icons/github_icon.png" alt="github"></a>
  <a href="https://discord.com/users/693151663321645098" target="_blank" title="discord"><img src="/assets/icons/discord_icon.png" alt="discord"></a>
  <a href="https://vk.com/glavnaya_zhaba_na_bolote" target="_blank" title="vk"><img src="/assets/icons/vk_icon.png" alt="vk"></a>
  <a href="mailto:nikitka@nikitka.me" title="email"><img src="/assets/icons/email_icon.png" alt="emal"></a>
</div>
